In [69]:
import quandl as q
import pandas as pd 
from datetime import datetime as d

In [70]:
present = str(d.now())+"\n"
print(present)

2018-07-09 01:23:17.084220

In [71]:
facebook = q.get("WIKI/FB",start_date="2018-01-01",end_date=d.now())
google = q.get("WIKI/GOOG",start_date="2018-01-01",end_date=d.now())
nasdaq = q.get("NASDAQOMX/COMP-NASDAQ-Composite-COMP",start_date="2018-01-01",end_date=d.now())

In [72]:
misc = ["Ex-Dividend", "Split Ratio"]
facebook.drop(labels=misc,axis=1,inplace=True)
google.drop(labels=misc,axis=1,inplace=True)

In [73]:
facebook.to_csv("./stocks/Facebook.csv",index_label=False,encoding="UTF-8")
google.to_csv("./stocks/Google.csv",index_label=False,encoding="UTF-8")
nasdaq.to_csv("./stocks/Nasdaq.csv",index_label=False,encoding="UTF-8")

In [74]:
f = lambda O,H,L,C,V,AO,AH,AL,AC,AV: str("{Open},{High},{Low},{Close},{Volume},{AdjOpen},\
                                         {AdjHigh},{AdjLow},{AdjClose},{AdjVolume}\n").format(Open=O,
                                                                                             High=H,
                                                                                             Low=L,
                                                                                             Close=C,
                                                                                             Volume=V,
                                                                                             AdjOpen=AO,
                                                                                             AdjHigh=AH,
                                                                                             AdjLow=AL,
                                                                                             AdjClose=AC,
                                                                                             AdjVolume=AV)

In [75]:
# NOT WORKING ... TODO 
g = lambda I,H,L,T,D: str("{IndexValue},{High},{Low},{TotalMarketVal},{DividMarketVal}\n").format(IndexValue=I,
                                                                                                 High=H,
                                                                                                 Low=L,
                                                                                                 TotalMarket=T,
                                                                                                 DividMarketVal=D)

In [76]:
facebook_text=""
google_text=""
nasdaq_text=""
nasdaq.head()

,Index Value,High,Low,Total Market Value,Dividend Market Value
Trade Date,,,,,
2018-01-02,7006.90,7006.91,6924.08,1.067066e+13,7.373659e+08
2018-01-03,7065.53,7069.15,7016.70,1.078842e+13,3.703689e+06
2018-01-04,7077.91,7098.05,7072.38,1.080738e+13,1.565174e+09
2018-01-05,7136.56,7137.04,7097.08,1.089695e+13,5.285305e+07
2018-01-08,7157.39,7161.35,7124.09,1.092877e+13,8.201618e+06

In [77]:
for i in range(len(facebook)):
    facebook_text+=f(facebook["Open"][i],facebook["High"][i],facebook["Low"][i],
                    facebook["Close"][i],facebook["Volume"][i],facebook["Adj. Open"][i],
                     facebook["Adj. High"][i],facebook["Adj. Low"][i],facebook["Adj. Close"][i],
                     facebook["Adj. Volume"][i])
    google_text+=f(google["Open"][i],google["High"][i],google["Low"][i],
                    google["Close"][i],google["Volume"][i],google["Adj. Open"][i],
                     google["Adj. High"][i],google["Adj. Low"][i],google["Adj. Close"][i],
                     google["Adj. Volume"][i])

In [78]:
path = str(d.now()).strip().replace(" ","")

In [79]:
with open(str("./stocks/"+path+"Facebook.txt"),"w") as f:
    f.write(present)
    f.write(facebook_text)
    f.close()
with open(str("./stocks/"+path+"Google.txt"),"w") as f:    
    f.write(present)
    f.write(google_text)
    f.close()