
# Stock Class Version 0.0.0  
* When called upon the Stock class constructor date is being outputted.
* Purpose of the stock class is to fetch and orginize Stock data.

In [1]:
from OOP.Stock import Stock

In [2]:
s = Stock()

Stock Class Accessed :	 2019-01-30 13:55:04.076170

In [3]:
stock = s.quandl("WIKI/AMZN",start_date="2018-01-01")

In [4]:
stock.head(3)

,Open,Close,High,Low,Volume,Adj. Open,Adj. Close,Adj. High,Adj. Low,Adj. Volume,Date
Date,,,,,,,,,,,
2018-01-02,1172.0,1189.01,1190.00,1170.51,2587899.0,1172.0,1189.01,1190.00,1170.51,2587899.0,2018-01-02
2018-01-03,1188.3,1204.20,1205.49,1188.30,3044664.0,1188.3,1204.20,1205.49,1188.30,3044664.0,2018-01-03
2018-01-04,1205.0,1209.59,1215.87,1204.66,3000366.0,1205.0,1209.59,1215.87,1204.66,3000366.0,2018-01-04

In [5]:
w = s.to_text(stock, "amazon")

Stock has been saved to:	./exports/2019-01-3013:55:23.859155amazon.txt.txt

In [6]:
stock.to_csv("../stocks/amazon.csv",index=False)