
# Stock Class Version 0.0.0  
* When called upon the Stock class constructor date is being outputted.
* Purpose of the stock class is to fetch and orginize Stock data.

In [1]:
from OOP.Stock import Stock

In [2]:
s = Stock().quandl("WIKI/FB",start_date="2015-01-01")

Stock Class Accessed :	 2018-08-06 10:46:37.323394

In [3]:
s.head(3)

,Open,High,Low,Close,Volume,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Date
Date,,,,,,,,,,,
2015-01-02,78.58,78.9300,77.700,78.45,18177475.0,78.58,78.9300,77.700,78.45,18177475.0,2015-01-02
2015-01-05,77.98,79.2455,76.860,77.19,26452191.0,77.98,79.2455,76.860,77.19,26452191.0,2015-01-05
2015-01-06,77.23,77.5900,75.365,76.15,27399288.0,77.23,77.5900,75.365,76.15,27399288.0,2015-01-06

In [4]:
w = Stock().to_text(s, "Facebook")

Stock Class Accessed :	 2018-08-06 10:46:39.331189
Saved As:	 ./exports/2018-08-0610:46:39.331546
Facebook.txt